@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-black-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    url("shared/assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("shared/assets/fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
