@import "./reset";
@import "./fonts";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
  // font-family: Roboto, Arial, serif;
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

a {
  font-family: Roboto, Arial, serif;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
