@import "./reset.scss";
@import "./fonts.scss";
@import "./variables/global.scss";
@import "./themes/normal.scss";
@import "./themes/dark.scss";


.app {
    // font-family: Roboto, Arial, serif;
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

a {
  font-family: Roboto, Arial, serif;
}